[Desktop Entry]
Type=Application
Exec=xdg-terminal-exec -- -T "BTOP" -w 1600x800 btop
Icon=btop
Terminal=false
Categories=System;
Keywords=Monitor;CPU;Memory;Process;Resource;Usage;Stats;Network;Disk;
Name=Btop
GenericName=Resource Monitor
Comment=Resource monitor that shows usage and stats for processor, memory, disks, network, and processes
