[Desktop Entry]
Type=Application
Exec=xdg-terminal-exec -- -T "Dua" -w 1600x800 dua i %u
Icon=dua
Terminal=false
Categories=Utility;Core;System;FileTools;ConsoleOnly
Keywords=Manager;Explorer;Browser;Launcher
Name=Dua
GenericName=Dua
Comment=Modern, parallel-by-default command-line tool written in Rust for quickly analyzing disk space usage.
MimeType=inode/directory
