[Desktop Entry]
Type=Application
Exec=xdg-terminal-exec -- -T "Dua" -w 1600x800 dua i %u
Icon=dua
Terminal=false
Categories=Utility;System;FileTools;ConsoleOnly;
Keywords=Disk;Space;Usage;Storage;Cleanup;Analyzer;Size;
Name=Disk Usage
GenericName=Dua
Comment=Modern, parallel-by-default command-line tool written in Rust for quickly analyzing disk space usage.
MimeType=inode/directory;
