[Desktop Entry]
Type=Application
Exec=foot -d error %F
Icon=foot
Terminal=false
Categories=System;TerminalEmulator;
Keywords=Shell;Prompt;Command;Commandline;Terminal;Console;Wayland;
Name=Terminal Foot
GenericName=Terminal
Comment=A wayland native terminal emulator
