[Desktop Entry]
Type=Application
Exec=xdg-terminal-exec -- -T "HTOP" -w 1600x800 htop
Icon=htop
Terminal=false
Categories=System;
Keywords=Monitor;CPU;Memory;Process;Resource;Usage;Task;
Name=Htop
GenericName=Process Viewer
Comment=htop is a cross-platform ncurses-based process viewer
NoDisplay=true