[Desktop Entry]
Type=Application
Exec=xdg-terminal-exec -- -T "Open Code" -w 1600x800 opencode %u
Icon=yazi
Terminal=false
Categories=Utility;Core;ConsoleOnly
Keywords=AI;IDE;Launcher
Name=Opencode
GenericName=Opencode
Comment=Open source AI coding agent. It’s available as a terminal-based interface, desktop app, or IDE extension.
MimeType=
