[Desktop Entry]
Type=Application
Exec=xdg-terminal-exec -- -T "Warchy Package Manager" -w 1000x500 -o colors.background=2d2d42 -o colors.alpha=1 warchy-packages %u
Icon=packages
Terminal=false
Categories=Utility;System;ConsoleOnly;
Keywords=Package;Manager;Install;Update;Pacman;Yay;AUR;
Name=Warchy Package Manager
GenericName=Package Manager
Comment=Warchy Package Manager
