[Desktop Entry]
Type=Application
Exec=code --no-sandbox %F
Icon=code
Terminal=false
Categories=Development;IDE;TextEditor;
Keywords=Editor;IDE;Programming;Code;Development;Text;VSCode;
Name=Visual Studio Code
GenericName=Text Editor
Comment=Code editor
MimeType=text/plain;inode/directory;application/json;application/javascript;application/typescript;text/html;text/css;text/markdown;text/x-python;text/x-shellscript;
